$block: "button__container";

.#{$block} {
  button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  .primary {
    background: #00474b;
    color: #fff;
    cursor: pointer;

    &.active {
      background: #26c2ae;
      color: #00474b;
    }

    &:hover {
      background: #26c2ae;
      color: #00474b;
      transition: all 0.2s ease;
    }
  }
  .secondary {
    background: #26c2ae;
    color: #00474b;
    height: 48px;
    margin-top: 32px;

    cursor: pointer;

    &:hover {
      background: #9fe8df;
      color: #fff;
    }
  }
}
