$block: "tip-value__container";

.#{$block} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 344px;

  & > div:nth-child(2) {
    width: 148px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #26C2AE;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #15aa96;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #26c2ae;
  }

  p {
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #7f9d9f;
  }
  @media (min-width: 1024px) {
    h2 {
      font-size: 48px;
      line-height: 71px;
    }
  }
}
