$block: "result__container";

.#{$block} {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 327px;
  height: 257px;
  background: #00474b;
  border-radius: 15px;
  margin: 32px 0;
  padding: 37px 22px;
  &-text {
    display: grid;
    gap: 20px;
  }

  @media (min-width: 1024px) {
    width: 413px;
    height: 417px;
    padding: 40px 40px;

    &-text {
      display: grid;
      gap: 41px;
    }
  }
}
